
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-text mx-3">Beconnected</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if menu == 'dashboard' %}active{% endif %}">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link" href="/categories">
                <i class="fas fa-fw fa-landmark"></i>
                <span>Category</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/sub-cat">
                <i class="fas fa-fw fa-hotel"></i>
                <span>Sub category</span>
            </a>
        </li>

        <li class="nav-item ">
            <a class="nav-link" href="/locations">
                <i class="fas fa-fw fa-place-of-worship"></i>
                <span>Location</span>
            </a>
        </li>

        <li class="nav-item ">
            <a class="nav-link" href="/add_business">
                <i class="fas fa-fw fa-place-of-worship"></i>
                <span>Add Business</span>
            </a>
        </li>
</ul>
<!-- End of Sidebar -->